$background-color: lightblue;
$background-color2: #80ced6;
$item-color: green;
$test-background: green;
$border: 1px black solid;
@mixin background {
    background-color: #00b0f0;
    background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
}