@mixin mainbox {
    display: flex;
    flex: 1;
    width: 100%;
    border: colors.$border;
    border-left: none;
}

@mixin background {
    background-color: #00b0f0;
    background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
}