@mixin mainbox {
    display: flex;
    flex: 1;
    width: 100%;
    border: colors.$border;
    border-left: none;
}

@mixin background {
    background-color: #27effd;
    background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
}